@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  color-scheme: dark;
}
.light-mode {
  color-scheme: light;
}

@layer components {
  .h1 {
    @apply text-5xl font-black select-none;
  }
  .h3 {
    @apply text-4xl font-bold select-none;
  }
  .h5 {
    @apply text-2xl font-medium select-none;
  }
  .input {
    @apply px-4 py-2 border-2 rounded-none border-dark outline-secondary;
  }
}

.gradient-div {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ) !important;
  opacity: 0;
  animation: fadeIn 0.1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.non-gradient-div {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 1;
  animation: fadeOut 0.1s ease-out forwards;
}
img {
  height: auto;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: ease-in-out;
  }
}

.spin {
  animation: spin 1.5s infinite;
}
